@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
    font-family: 'Lato', sans-serif;
    background: none;
}

#tabs ul {
    -webkit-padding-start: 20px;
}

div#links {
   -webkit-padding-start: 20px;
}

.panel.col-sm-6 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.panel-title {
    margin-left: 10px;
}

.listgrouptext {
    margin-left: 10px;
    margin-bottom: 0px;
}

* {
  border-radius: 0 !important;
}

div#info {
    margin-bottom: 20px;
}